/Repaso1/build/
/Repaso2/build/
/Repaso3-FW/build/
/Repaso3-FW/nbproject/private/
/xml/nbproject/private/
/Practica-xml/nbproject/private/
/Practica-xml/build/
/xml/build/
/modEmpleado/nbproject/private/
/modEmpleado/build/
/temaJDBC/nbproject/private/
/temaJDBC/build/
/Jswing_action/nbproject/private/
/JSONconjava/dist/
/ExamenMarco_ProgSerProcs/nbproject/private/
/ExamenMarco_ProgSerProcs/build/
/Sockets/nbproject/private/
/Sockets/build/
/4/JPA/target/
